.elements-list {
    display: block;
}
    .elements-list_inline {
        display: inline-block;
    }
    .elements-list_nowrap {
        white-space: nowrap;
    }

.elements-list-item {
    margin-right: 7px;
}
    .elements-list-item_first {}

    .elements-list-item_last {
        margin-right: 0;
    }
