@import '../../styles/colors';

.url-list-item {
    display: flex;
    padding: 10px 7px;
    border-bottom: 1px dashed darken(@bg-hover, 5%);

    &:last-child {
        border-bottom: none;
    }
    &:hover {
        background-color: @bg-hover;
    }
}

    .url-list-item__text {
        flex-grow: 1;
        max-width: 500px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .url-list-item__remove {
        cursor: pointer;
        color: #ff8a8a;
    }
